# 1. 모든 파일의 줄 바꿈을 LF로 자동 관리
* text=auto eol=lf

# 3. 쉘 스크립트 명시적 고정
*.bat text eol=crlf working-tree-encoding=utf-8
*.sh text eol=lf working-tree-encoding=utf-8
*.lua text eol=lf working-tree-encoding=utf-8